<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Folha de Ponto</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="menu.css">
  <link rel="stylesheet" href="cargos.css">
  <script src="app.js" defer></script>
</head>

<body>
  <div id="app">
    <div id="menu-bar">
      <div id="logo"> <div class="icon"></div> <div id="nome-empresa">LIMPATEC</div> </div>

      <div id="menu">
        <div class="menu-item"> <button @click="clickItemMenu">Início</button>     </div>
        <div class="menu-item"> <button @click="clickItemMenu">Cargos</button>     </div>
        <div class="menu-item"> <button @click="clickItemMenu">Calendário</button> </div>
      </div>
    </div>

    <div class="content">
      <div id="inicio" v-if="page == 'Início'">Vai ter uma página inicial aqui</div>

      <ul id="cargos" v-if="page == 'Cargos'">
        <li v-for="cargo in cargos">{{ cargo.nome }}</li>
      </ul>

      <div id="calendario" v-if="page == 'Calendário'">Vai ter um calendário aqui</div>

      <div id="funcionario" v-if="page == 'Funcionário'">Vai ter um funcionário aqui</div>
    </div>
  </div>
</body>
</html>