/* variáveis */
:root{
  --cor-branco: #ecf0f1;
  --cor-preto: #111111;
  --cor-vermelho: #ff0000;
  --cor-fundo-claro: #d6dce4;
  --cor-fundo-menu: #2c2e3e;
  --cor-item-menu: #40445e;
  --cor-menu-selecionado: #212333;
  --cor-item-conteúdo: #677c9d;
  --cor-item-ct-selecionado: #4b6a9b;
}

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}


body{
  background-color: var(--cor-fundo-claro);
  font-family: Arial, Helvetica, sans-serif;
}

#app{
  display: grid;
  grid-template-columns: 420px auto;
  height: 100%;
}

.content{
  padding: 40px;
  /*width: 100%;*/
}