.botão-item{
  width: 500px;
  height: 60px;
  text-align: center;
  font-size: 29px;
  padding: 9px;
  margin-bottom: 10px;
  border: 2px solid var(--cor-fundo-claro);
}
.botão-item:hover{
  background: var(--cor-item-menu);
  border: 2px solid var(--cor-item-menu);
}
.botão-item p{
  white-space: nowrap;
  overflow: hidden;
}