#cargos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}

/* .cargo{
  display: flex;
  align-items: center;
}
.cargo p{
  width: 100%;
}
.cargo img{
  width: 43px;
  height: 43px;
} */