.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-botão{
  height: 50px;
  padding: 0 10px;
  font-size: 24px;
  border: 1px solid var(--cor-fundo-claro);
}
.dropdown:hover .dropdown-botão{
  border: 1px solid var(--cor-preto);
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 1;
  border: 1px solid var(--cor-fundo-menu);
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  box-sizing: border-box;
}
.dropdown:hover .dropdown-content{
  display: block;
}