.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-botão{
  font-size: 22px;
  border: 1px solid var(--cor-fundo-claro);
}
.dropdown:hover .dropdown-botão{
  /* background-color: var(--cor-item-menu); */
  border: 1px solid var(--cor-preto);
}

.dropdown-content{
  display: none !important;
  position: absolute;
  min-width: 100%;
  z-index: 1;
  margin-top: 48px;
  border: 1px solid var(--cor-fundo-menu);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-sizing: border-box;
}
.dropdown:hover .dropdown-content{
  display: block !important;
}

.dropdown-content button{
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 3px;
  background-color: var(--cor-item-menu);
  border: 1px solid var(--cor-item-menu);
}
.dropdown-content button:hover{
  background-color: var(--cor-fundo-menos-claro);
  border: 1px solid var(--cor-fundo-menu);
}

.dropdown-content button p{
  white-space: nowrap;
}