.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.três-dropdowns{
  display: inline;
}

.três-dropdowns .dropdown{
  margin-right: 10px;
}

/* .header div button{
  font-size: 24px;
  color: var(--cor-branco);
  background-color: var(--cor-fundo-menu);
    border: 1px solid var(--cor-preto);
  padding: 8px;
  margin-right: 12px;
} */