#início{
  font-size: 88px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-top: 151px;
  box-sizing: border-box;
  color: var(--cor-branco);
}
#início p{
  background-color: var(--cor-item-menu);
  height: 303px;
  padding: 33px 44px;
}