#início{
  font-size: 88px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-top: 180px;
  box-sizing: border-box;
  color: var(--cor-branco);
}