/* variáveis */
:root{
  --cor-preto: #111111;
  --cor-vermelho: #ff0000;
  --cor-verde: #00ff00;
  --cor-branco: #ecf0f1;
  --cor-fundo-claro-planilha: #c4c4c4;
  --cor-fundo-escuro-planilha: #b2b2b2;
  --cor-fundo-mais-claro: #666666;
  --cor-fundo-claro: #484848;
  --cor-fundo-menos-claro: #414141;
  --cor-item-menu: #393939;
  --cor-fundo-menu: #2f2f2f;
}

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}
button{
  border: none;
  cursor: pointer;
  background: var(--cor-fundo-menu);
  color: var(--cor-branco);
}


body{
  background-color: var(--cor-fundo-claro);
  font-family: Arial, Helvetica, sans-serif;
}

#app{
  display: grid;
  grid-template-columns: 420px auto;
  height: 100%;
}

.content{
  padding: 40px;
  /*width: 100%;*/
}