#menu-bar{
  background-color: var(--cor-fundo-menu);
  padding: 22px 0;
  color: var(--cor-branco);
}

#logo{
  display: flex;
  margin-left: 10px;
}
#logo .icon{
  /* background-color: var(--cor-vermelho); */
  width: 64px;
  height: 64px;
  margin: 12px;
}
#nome-empresa{
  font-size: 62px;
  color: white;
  margin: auto 0;
}

#menu{
  padding-top: 90px;
}

#menu button{
  margin-top: 20px;
  border: 0;
  padding: 0 0 0 99px;
  font-size: 44px;
  text-align: left;
  color: var(--cor-branco);
  width: 100%;
  background-color: var(--cor-item-menu);
  box-sizing: border-box;
  border-top:    2px solid var(--cor-fundo-menu);
  border-bottom: 2px solid var(--cor-fundo-menu);
}
#menu button:hover{
  background-color: var(--cor-fundo-claro);
  border-top:    2px solid var(--cor-fundo-claro);
  border-bottom: 2px solid var(--cor-fundo-claro);
}

#menu .ressaltado{
  background-color: var(--cor-fundo-claro) !important;
  border-top:    2px solid var(--cor-fundo-claro) !important;
  border-bottom: 2px solid var(--cor-fundo-claro) !important;
}