#cargos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px;
}

#cargos li{
  width: 15em;
  text-align: center;
  font-size: 30px;
  padding: 9px;
  margin-bottom: 10px;
  background: var(--cor-item-conteúdo);
}
#cargos li:hover{
  background: var(--cor-item-ct-selecionado);
}