<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="./imagens/Icone_esfregao.png">
  <title>Folha de Ponto</title>

  <link rel="stylesheet" href="style/main.css">
  <link rel="stylesheet" href="style/menu.css">
  <link rel="stylesheet" href="style/início.css">
  <link rel="stylesheet" href="style/cargos.css">
  <link rel="stylesheet" href="style/lista-botões.css">
  <link rel="stylesheet" href="style/botão-item.css">
  <link rel="stylesheet" href="style/novo-item.css">
  <link rel="stylesheet" href="style/header.css">
  <link rel="stylesheet" href="style/dropdown.css">
  <link rel="stylesheet" href="style/dropdown-list.css">
  <link rel="stylesheet" href="style/dropdown-config.css">
  <link rel="stylesheet" href="style/funcionário.css">
  <script src="script/app.js" type="module"></script>
</head>

<body> <div id="app">
  <div id="menu-bar">
    <div id="logo"> <img class="icon" src="./imagens/Icone_esfregao.png"></img> <div id="nome-empresa">LIMPATEC</div> </div>

    <div id="menu">
      <button id="menu-inicio" class="ressaltado" @click="clickItemMenu('Início')"    >Início</button>
      <button id="menu-cargos"                    @click="clickItemMenu('Cargos')"    >Cargos</button>
      <!--button id="menu-calendario"                @click="clickItemMenu('Calendário')">Calendário</button-->
      <button id="menu-logs"                      @click="clickItemMenu('Logs')"      >Logs</button>
    </div>
  </div>

  <div class="content">
    <div id="início" v-if="atual.página == 'Início'">
      <p>LIMPATEC<br><br>Folha de Ponto</p>
    </div>

    <div id="cargos" class="lista-botões" v-if="atual.página == 'Cargos'">
      <button v-for="cargo in cargos" class="botão-item" @click="clickCargo(cargo)">
        <p>{{ cargo.nome }}</p>
      </button>

      <button class="botão-item" v-if="!input.cargo" @click="input.cargo = true"> <img src="./imagens/add.png"> </button>
      <div v-if="input.cargo" class="novo-item">
        <button class="cancelar"  @click="input.cargo = false"> <img src="./imagens/cancela.png"> </button>
        <input id="input-cargo" type="text" placeholder="Cargo" maxlength="50">
        <button class="confirmar" @click="confirmarAddCargo">   <img src="./imagens/check.png"> </button>
      </div>
    </div>

    <div id="cargo" class="lista-botões" v-if="atual.página == 'Cargo'">
      <div class="header">
        <div class="dropdown dd-lista">
          <button class="dropdown-botão">Cargo: {{ atual.cargo.nome }}</button>
          <div class="dropdown-content">
            <button class="dd-item-lista" v-for="cargo in cargos" @click="clickCargo(cargo)">
              <p>{{ cargo.nome }}</p>
            </button>
          </div>
        </div>
          
        <div class="dropdown dd-config">
          <button class="dropdown-botão engrenagem"> <img src="./imagens/engrenagem.png"> </button>
          <div class="dropdown-content">
            <input id="edit-cargo" type="text" :value="atual.cargo.nome" :placeholder="atual.cargo.nome" maxlength="50">
            <button class="confirmar" @click="confirmarEditCargo"> <img src="./imagens/edit.png"> </button>
          </div>
        </div>
      </div>

      <!--button class="botão-item" @click="clickFuncionários"> <p>TODOS</p> </button-->
      <button v-for="funcionário in funcionários" class="botão-item" @click="clickFuncionário(funcionário)">
        <p>{{ funcionário.nome }}</p>
      </button>

      <button class="botão-item" v-if="!input.funcionário" @click="input.funcionário = true"> <img src="./imagens/add.png"> </button>
      <div v-if="input.funcionário" class="novo-item">
        <button class="cancelar"  @click="input.funcionário = false"> <img src="./imagens/cancela.png"> </button>
        <input id="input-funcionário" type="text" placeholder="Funcionário" maxlength="50">
        <button class="confirmar" @click="confirmarAddFuncionário">   <img src="./imagens/check.png"> </button>
      </div>
    </div>

    <div id="funcionário" v-if="atual.página == 'Funcionário'">
      <div class="header">
        <div class="três-dropdowns">
          <div class="dropdown dd-lista">
            <button class="dropdown-botão">Cargo: {{ atual.cargo.nome }}</button>
            <div class="dropdown-content">
              <button class="dd-item-lista" v-for="cargo in cargos" @click="clickCargo(cargo)">
                <p>{{ cargo.nome }}</p>
              </button>
            </div>
          </div>
          <div class="dropdown dd-lista">
            <button class="dropdown-botão">Funcionário: {{ atual.funcionário.nome }}</button>
            <div class="dropdown-content">
              <button class="dd-item-lista" v-for="funcionário in funcionários" @click="clickFuncionário(funcionário)">
                <p>{{ funcionário.nome }}</p>
              </button>
            </div>
          </div>
          <div class="dropdown dd-lista">
            <button class="dropdown-botão">Mês: {{ atual.mês }}</button>
            <div class="dropdown-content">
              <button class="dd-item-lista" v-for="mês in meses" @click="clickMês(mês)">
                <p>{{ mês }}</p>
              </button>
            </div>
          </div>
        </div>
          
        <div class="dropdown dd-config">
          <button class="dropdown-botão engrenagem"> <img src="./imagens/engrenagem.png"> </button>
          <div class="dropdown-content">
            <input id="edit-funcionário" type="text" :value="atual.funcionário.nome" :placeholder="atual.funcionário.nome" maxlength="50">
            <button class="confirmar" @click="confirmarEditFuncionário"> <img src="./imagens/edit.png"> </button>
          </div>
        </div>
      </div>

      <table id="planilha">
        <tr class="PRECISA_ARRUMAR_O_TAM_DA_FONTE">
          <th rowspan="2" style="width:5%">Dia</th>
          <th rowspan="2" style="width:5%">Sem</th>
          <th colspan="2" style="width:14%">1º Turno</th>
          <th rowspan="2" style="width:7%" >Intervalo</th>
          <th colspan="2" style="width:14%">2º Turno</th>
          <th colspan="2" style="width:14%">3º Turno</th>
          <th rowspan="2" style="width:8%" >TOTAL</th>
          <th rowspan="2" style="width:8%" >TOTAL 50%</th>
          <th rowspan="2" style="width:8%" >TOTAL 100%</th>
          <th rowspan="2" style="width:11%">COMPENSAÇÃO SÁBADO</th>
          <th rowspan="2">Obs</th>
        </tr>

        <tr class="borda-bottom">
          <th style="width:7%">Entrada</th> <th>Saída</th>
          <th style="width:7%">Entrada</th> <th>Saída</th>
          <th style="width:7%">Entrada</th> <th>Saída</th>
        </tr>

        <tr class="borda-bottom" v-for="linha in planilha">
          <th class="dia">{{ linha.dia }}</th>
          <th class="dia">{{ linha.diaNaSemana }}</th>
          <td>{{ linha.entrada1 }}</td>
          <td>{{ linha.saida1 }}</td>
          <td>{{ linha.intervalo }}</td>
          <td>{{ linha.entrada2 }}</td>
          <td>{{ linha.saida2 }}</td>
          <td>{{ linha.entrada3 }}</td>
          <td>{{ linha.saida3 }}</td>
          <td>{{ linha.total }}</td>
          <td>{{ linha.total50 }}</td>
          <td>{{ linha.total100 }}</td>
          <td>{{ linha.compSábado }}</td>
          <td>{{ linha.observacao }}</td>
        </tr>

        <tr>
          <th colspan="10" class="sub-título"> <p>Totais no mês:</p> </th>
          <!--td>11</th-->
          <td>{{ totais.total50 }}</td>
          <td>{{ totais.total100 }}</td>
          <td>{{ totais.compSábado }}</td>
          <th></th>
        </tr>
      </table>

      <div class="obs">
        <div class="sub-título"> <p>Observações:</p> </div>
        <div id="grade-obs">Bah</div>
      </div>
    </div>
    
    <div id="funcionários" v-if="atual.página == 'Funcionários'">Em progresso</div>

    <div id="calendário" v-if="atual.página == 'Calendário'">Vai ter um calendário aqui</div>

    <div id="logs" v-if="atual.página == 'Logs'">Vai ter logs aqui</div>
  </div>
</div> </body>
</html>