<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Folha de Ponto</title>
  <link rel="stylesheet" href="style/main.css">
  <link rel="stylesheet" href="style/menu.css">
  <link rel="stylesheet" href="style/cargos.css">
  <link rel="stylesheet" href="style/funcionário.css">
  <script src="script/app.js" type="module"></script>
</head>

<body>
  <div id="app">
    <div id="menu-bar">
      <div id="logo"> <div class="icon"></div> <div id="nome-empresa">LIMPATEC</div> </div>

      <div id="menu">
        <div class="menu-item"> <button @click="clickItemMenu">Início</button>     </div>
        <div class="menu-item"> <button @click="clickItemMenu">Cargos</button>     </div>
        <div class="menu-item"> <button @click="clickItemMenu">Calendário</button> </div>
        <div class="menu-item"> <button @click="clickItemMenu">Funcionário</button> </div>
      </div>
    </div>

    <div class="content">
      <div id="início" v-if="página == 'Início'">Vai ter uma página inicial aqui</div>

      <ul id="cargos" v-if="página == 'Cargos'">
        <li v-for="cargo in cargos" @click="clickCargo($event.target.innerText)">{{ cargo.nome }}</li>
      </ul>

      <div id="calendário" v-if="página == 'Calendário'">Vai ter um calendário aqui</div>

      <table id="funcionário" v-if="página == 'Funcionário'">
        <tr class="f-header">
          <th colspan="7">Funcionário: {{ funcionário }}</th>
          <th colspan="7">Cargo: {{ cargo }}</th>
        </tr>

        <tr>
          <th colspan="2">Mês: {{ mês }}</th>
          <th colspan="2">1º Turno</th>
          <th rowspan="2">Intervalo</th>
          <th colspan="2">2º Turno</th>
          <th colspan="2">3º Turno</th>
          <th rowspan="2">TOTAL</th>
          <th rowspan="2">TOTAL 50%</th>
          <th rowspan="2">TOTAL 100%</th>
          <th rowspan="2">COMPENSAÇÃO SÁBADO</th>
          <th rowspan="2">OBS</th>
        </tr>

        <tr>
          <th>Dia</th> <th>Sem</th>
          <th>Entrada</th> <th>Saída</th>
          <th>Entrada</th> <th>Saída</th>
          <th>Entrada</th> <th>Saída</th>
        </tr>

        <tr v-for="dia in dias">
          <th>{{ dia.numero }}</th>
          <th>{{ dia.semana }}</th>
          <td>{{ dia.t1entrada }}</td>
          <td>{{ dia.t1saída }}</td>
          <td>{{ dia.intervalo }}</td>
          <td>{{ dia.t2entrada }}</td>
          <td>{{ dia.t2saída }}</td>
          <td>{{ dia.t3entrada }}</td>
          <td>{{ dia.t3saída }}</td>
          <td>{{ dia.total }}</td>
          <td>{{ dia.total50 }}</td>
          <td>{{ dia.total100 }}</td>
          <td>{{ dia.cSábado }}</td>
          <td>{{ dia.obs }}</td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>